.main {
    background: url(../images/fondo.jpg);
    background-size: 100%;
    display: flexbox;
}

.tamanio {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-image: linear-gradient(to top, rgb(143, 17, 160), rgb(212, 0, 255), rgb(143, 17, 160));
    text-align: center;
    display: flexbox;

}

.imagenEdit {
    display: block;
    position: relative;
    left: 28%;



}

.boton {

    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

    padding: 10px;
    width: 300px;
    display: flexbox;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;

    border-radius: 10px;
    cursor: pointer;
    color: #FFF;

    background-size: 300%;
    background-image: linear-gradient(to left, rgba(111, 0, 255, 0.507), rgb(0, 195, 255), rgba(111, 0, 255, 0.507));
}